<html ng-app="todoApp">
  <head>
    <title>Todo Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="todolist.css">
</head>

<!-- SET THE CONTROLLER AND GET ALL TODOS -->

<body ng-controller="TodoListController as todoList">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron">
            <h1>Git 'er done.</h1>
            <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
            [ <a href="" ng-click="todoList.archive()">Done</a> ]
        </div>
    </div>

    <div class="container">

        <!-- TODO LIST -->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                
                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <ul>
                    <li ng-repeat="todo in todoList.todos">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{ todo.text }}</span>
                        </label>
                    </li>
                </ul>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form ng-submit="todoList.addTodo()">
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" ng-model="todoList.todoText" class="form-control input-lg text-center" placeholder="Git it done.">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <input class="btn btn-primary btn-lg" type="submit" value="Git 'er">
                </form>
            </div>
        </div>

    </div>

</body>
        
</html>
    
    